@import "tailwindcss";
*{
    font-family: "Inter", sans-serif;
}

/* İnce scrollbar stili */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}